<h1>Employees</h1>

<table border="medium">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
  </tr>
  <% @employees.each do |employee| %>
    <tr>
        <td><%= employee.firstName %></td>
        <td><%= employee.lastName %></td>
        <td><%= employee.phoneNumber %></td>
        <td>
          <a href="/employees/<%= employee.id %>">
            <button>
              View
            </button>
          </a>
          <a href="/employees/<%= employee.id %>/edit">
            <button>
              Edit
            </button>
          </a>
        </td>
    </tr>
  <% end %>

</table>
<div>
  <a href="/employees/new">
    <button>
      Add
    </button>
  </a>
</div>