<div>
  <p>
    First Name: <%= @employee.firstName %>
  </p>
</div>
<div>
  <p>
    Last Name: <%= @employee.lastName %>
  </p>
</div>
<div>
  <p>
    Phone Number: <%= @employee.phoneNumber %>
  </p>
</div>
<div>
  <a href="/employees/<%= @employee.id %>/edit">
    <button>
      Edit
    </button>
  </a>
</div>
<div>
  <a href="/employees/delete/<%=@employee.id %>">
    Delete
  </a>
</div>
<div>
  <a href="/employees/index">
    <button>
      Return
    </button>
  </a>
</div>