<%= stylesheet_link_tag "custom.css" %>

<h1 class = "header">Orders</h1>

<table class="GeneratedTable">
  <thead>
  <tr>
    <th>Employee ID</th>
    <th>Customer ID</th>
    <th>Options</th>

  </tr>
  </thead>

  <% @orders.each do |order| %>
    <tr>
        <td><%= order.employee_id %></td>
        <td><%= order.customer_id %></td>
        <td>
          <a href="/orders/<%= order.id %>">
            <button class="button button2">
              View
            </button>
          </a>
          <a href="/orders/<%= order.id %>/edit">
            <button class="button button2">
              Edit
            </button>
          </a>
        </td>
    </tr>
  <% end %>

</table>
<div>
  <a href="/orders/new">
    <button class="button button2">
      Add
    </button>
  </a>
</div>

<div>
  <a href="/homepage">
    <button class="button button2">
      Return
    </button>
  </a>
</div>