<%= stylesheet_link_tag "custom.css" %>

<h1 class = "header" >Products</h1>

<table class="GeneratedTable">
  <thead>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Options</th>

  </tr>
  </thead>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td>
        <a href="/products/<%= product.id %>">
          <button class="button button2">
            View
          </button>
        </a>
        <a href="/products/<%= product.id %>/edit">
          <button class="button button2">
            Edit
          </button>
        </a>
      </td>
    </tr>
  <% end %>

</table>
<div>
  <a href="/products/new">
    <button class="button button2">
      Add
    </button>
  </a>
</div>

<div>
  <a href="/homepage">
    <button class="button button2">
      Return
    </button>
  </a>
</div>