<div>
  <p>
    Product Name: <%= @product.name %>
  </p>
</div>
<div>
  <p>
    Description: <%=  @product.description %>
  </p>
</div>
<div>
  <p>
    Quantity: <%= @product.quantity %>
  </p>
</div>
<div>
  <a href="/products/<%= @product.id %>/edit">
    <button>
      Edit
    </button>
  </a>
</div>
<div>
  <a href="/products/delete/<%=@product.id %>">
    Delete
  </a>
</div>
<div>
  <a href="/products/index">
    <button>
      Return
    </button>
  </a>
</div>